# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# VIM Swap files
*.swo
*.swp

# Binaries
ar6
arsel
collomb2009
example
faber1986
lorenz
test
zohar

# Python artifacts
.eggs
ar.egg-info
dist
build

nothing added to commit but untracked files present (use "git add" to track)

# Octave octfiles
*.oct

# Rebuildable LaTeX artifacts
*.aux
*.aux.bak
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.ps
