# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# VIM Swap files
*.swo
*.swp

# Binaries
arsel
collomb2009
example
faber1986
lorenz
test
zohar

# Octave octfiles
*.oct

# Rebuildable LaTeX artifacts
*.aux
*.aux.bak
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.ps
