# See https://circleci.com/docs/2.0/reusing-config/
version: 2.1

executors:
  python-docker:
    parameters:
      version:
        description: "Python version"
        default: "3.9"
        type: string
    docker:
      - image: cimg/python:<<parameters.version>>

jobs:
  test:
    parameters:
      version:
        description: "Python version"
        default: "3.9"
        type: string
    executor:
      name: python-docker
      version: <<parameters.version>>
    steps:
      - checkout
      - run:
          name: Dependencies
          command: |
            sudo apt -qq update
            sudo apt -qq install -y build-essential gcc g++ make python3-pip
            echo "$(command -v python): $(python -V)"
            python -m pip install numpy setuptools
      - run:
          name: Build
          command: |
            make
      - run:
          name: Test
          command: |
            make check
      - run:
          name: Stress
          command: |
            make stress

workflows:
  matrix-tests:
    jobs:
      - test:
          matrix:
            parameters:
              version:
                - "3.8"
                - "3.13"
